@font-face {
    font-family: "bahnschrift";
    src: url("font/bahnschrift.ttf");
    font-size: 1em;
}

body {
    background: url(/img/fundo.png) no-repeat center center fixed;
    background-size: cover;
    /*Css padrão*/
    -webkit-background-size: cover;
    /*Css safari e chrome*/
    -moz-background-size: cover;
    /*Css firefox*/
    -ms-background-size: cover;
    /*Css IE não use mer#^@%#*/
    -o-background-size: cover;
    /*Css Opera*/
}


header {
    width: 100%;
    height: 180px;
    background-color: #00A652;
    position: relative;

    .header-branco {
        background-color: #FFFFFF;
        height: 130px;
    }

    #logotipo {
        position: absolute;
        top: 7px;
    }

    #sistemasindaçucar {
        position: absolute;
        top: 50px;
        left: 1000px;
    }

    #esfera {
        position: absolute;
        top: 34px;
        left: 918px;
    }

    #menu {
        position: absolute;
        top: 133px;
        left: 340px;
        color: #FFFFFF;
        font-family: "bahnschrift";

        li a {
            color: #FFF;
            font-size: 16px;
            padding: 10px 25px;
        }
    }
}


#banner {
    width: 100%;
}

.section {
    .row {
        width: 100%;
        height: 50px;
    }

    #submenu {
        margin: 20px 40px 80px 150px;
    }

    .eventos {
        width: 100%;
        height: 1250px;
        background-color: #FFFFFF;
        position: relative;

    }
    
    .destaque {
        width: 100%;
        height: 1250px;
        background-color: #FFFFFF;
        position: relative;

    }
}

/* footer {
    margin-top: 110px;
    background-color: #1B5B99;

    .row {
        width: 100%;
    }

    .row-cinza-claro {
        height: 200px;
        background-color: #171F26;

    }

    .row-cinza-escuro {
        height: 60px;
        background-color: #00A652;
        border-top: #242D37 1px solid;
    }

    .pull-left {
        font-family: "Open-Sans";
        font-size: 16px;
        color: #666666;
        line-height: 64px;
    }

    .text-roxo {
        color: #623291;
        font-family: "Open-Sans";
        font-weight: bold;
        font-size: 14px;
        margin-left: 869px;
        margin-top: -56px;
    }

    .logotipo {
        margin-top: 28px;
    }
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
    margin-top: 40px;
}

footer .col-popular-post h4 {
    font-family: "Open-Sans";
    font-size: 16px;
    color: #FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}

footer .col-popular-post h5 {
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .col-popular-post time {
    color: #FDE092;
    font-family: Arial;
    font-size: 14px;
}

footer .col-popular-post ul {
    list-style: none;
}

footer .col-links h4 {
    font-family: "Open-Sans";
    font-size: 16px;
    color: #FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}

footer .col-links a {
    color: #666;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links .fa {
    margin: 0 6px;
}

footer .col-get-in-touch h4 {
    font-family: "Open-Sans";
    font-size: 16px;
    color: #FFF;
    padding-bottom: 17px;
    border-bottom: #242D37 1px solid;
}

footer .col-get-in-touch address {
    color: #666;
    font-family: Arial;
    font-size: 14px;
}

footer .col-get-in-touch address span {
    display: inline-block;
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}

footer .col-get-in-touch i {
    color: #9B9B9B;
    font-family: Arial;
    font-size: 14px;
}

footer .col-get-in-touch p {
    line-height: 20px;
}

footer .list-socials {
    margin-top: 4px;
}

footer .list-socials li {
    display: inline-block;
}

footer .list-socials a {
    display: block;
    border: #9B9B9B 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
    margin-top: -13px;
}

footer .list-socials i {
    font-size: 16px;
    margin: 7px auto;
}
 */


.container-main {
    padding: 50px;

    .container-section {
        width: 60%;

        .submenu {
            .btn {
                background-color: #00A652;
                color: #FFFFFF;
                border-radius: 30px;
                max-width: 130px;
                font-size: 14px;
                min-width: 100px;
                ;
            }
        }

        h3 {
            color: #00A652;
        }

        .evento {
            border: 2px solid #1B5B99;
            border-radius: 25px;
            position: relative;

            .date {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background: blue;
                margin: 0;
                max-width: 150px;
                text-align: center;
                // overflow: hidden;
                padding: 10px 20px; 
            
                h2 {
                    font-size: 3em !important;
                    color: white;
                }

            }

            p {
                padding: 20px;
            }

            .add {
                position: absolute;
                bottom: -10px;
                right: -10px;
                border-radius: 50%;
                background-color: #00A652;
            }
            .container-section {
        width: 60%;

        .submenu {
            .btn {
                background-color: #00A652;
                color: #FFFFFF;
                border-radius: 30px;
                max-width: 130px;
                font-size: 14px;
                min-width: 100px;
                ;
            }
        }

        h3 {
            color: #00A652;
        }

        .evento {
            border: 2px solid #1B5B99;
            border-radius: 25px;
            position: relative;

            .date {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background: blue;
                margin: 0;
                max-width: 150px;
                text-align: center;
                // overflow: hidden;
                padding: 10px 20px; 
            
                h2 {
                    font-size: 3em !important;
                    color: white;
                }

            }

            p {
                padding: 20px;
            }

            .add {
                position: absolute;
                bottom: -10px;
                right: -10px;
                border-radius: 50%;
                background-color: #00A652;
            }
            
            
            {

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
        }
    }
}

.w100 {
    width: 100%;
}
.carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}


.flex {
    display: flex;

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }


    .x-start {
        align-items: flex-start;
    }

    .x-end {
        align-items: flex-end;
    }

    .x-center {
        align-items: center;
    }
}

